.schedule-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $ltGray;

  header {
    padding: 2rem 0;
    text-align: center;

    h2 {
      color: $drkGray;
    }
  }

  a {
    margin: -2.2rem -42.5rem 0.5rem 0;
    padding: 0.1rem 0.4rem;
    border: 1px solid $drkGray;
    border-radius: 3px;
    background-color: $white;

    .events-calendar-icon {
      width: 1.3rem;
    }
}

  .load-more-btn {
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
    color: $drkGray;
    background-color: $white;
    border: 1px solid $drkGray;
    font-size: 1.2rem;
    border-radius: 4px;
  }
}