.content-section {
  margin: 0 auto;
  padding: 0 4rem 3rem 4rem;
  max-width: 80rem;
  display: flex;
  flex-direction: column;

  header {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;

    h2 {
    font-size: 2rem;
    font-weight: normal;
    color: $drkGray;
    }
  }

  .main-content {
    display: flex;
    justify-content: space-around;

    article {
      margin-right: 1rem;
      min-width: 22rem;
      max-width: 30rem;

      p {
        font-size: 1.1rem;
        line-height: 1.65rem;
        color: $drkGray;
      }
    }

    img {
    margin-left: 1rem;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border: 1px solid $drkGray;
    }
  }
}