.photos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colbyBlue;

  header {
    padding: 2rem 0;
    text-align: center;

    h2 {
      color: $white;
    }
  }

  .carousel {
    margin-bottom: 3rem;

    .w-100 {
      width: 20rem;
      height: 20rem;
      object-fit: contain;
    }
  }
}