
    .logo {
      margin: 1rem 1.8rem 0 2rem;
      height: 60px;
      width: 118px;

      &:hover {
        cursor: pointer;
      }
    }


.navbar {
  padding: 0.5rem calc((100vw - 1500px) / 2);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.menu-bars {
  position: relative;
  right: 2rem;
  bottom: 0.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  @include tablet {
    display: flex;
  }
}

.nav-menu {
background-color: $ltBlack;
width: 0px;
height: 100vh;
display: flex;
justify-content: center;
position: fixed;
top: 0;
right: 0;
transition: 850ms;
z-index: 3;
}

.nav-menu.active {
  width: 18rem;
  right: 100;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;

  a {
    text-decoration: none;
    color: $white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;

    &:hover {
      background-color: $white;
      color: $colbyBlue;
    }
  }
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.close {
  margin: 0.5rem 0 0 14rem;
}

.navbar.active {
  background-color: $colbyBlue;
}

.nav-links-container {
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      // background-color: seagreen;

      @include tablet {
        display: none;
      }

      li {
        padding: 0 0.8rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        // background-color: tan;

        &:last-of-type {
          border-left: 2px solid $white;
        }

        .nav-link {
          font-size: 1.2rem;
          text-decoration: none;
          color: $white;
          position: relative;
          padding: 20px 0px;

          &:hover {
            cursor: pointer;
          }

          &:hover::before,
          &:focus::before,
          &:active::before {
            bottom: 10px;
            opacity: 1;
          }

          &:before {
            transition: 200ms;
            height: 3px;
            content: "";
            position: absolute;
            background-color: $white;
            width: 100%;
            bottom: 5px;
            opacity: 0;
          }

          .home-icon-link {
            height: 1.2rem;
          }
        }
      }
}