@import 'variables';
@import 'navbar';
@import 'hero';
@import 'home-featured';
@import 'countdown';
@import 'home-schedule';

* {
  margin: 0;
  padding: 0;
  font-family: libre-franklin, Sans-serif;
}
