.logo {
  margin: 1rem 1.8rem 0 2rem;
  height: 60px;
  width: 118px;
}

.logo:hover {
  cursor: pointer;
}

.navbar {
  padding: 0.5rem calc((100vw - 1500px) / 2);
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.menu-bars {
  position: relative;
  right: 2rem;
  bottom: 0.5rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

@media screen and (max-width: 830px) {
  .menu-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-menu {
  background-color: #363636;
  width: 0px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: 850ms;
  transition: 850ms;
  z-index: 3;
}

.nav-menu.active {
  width: 18rem;
  right: 100;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffffff;
  color: #002878;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  margin: 0.5rem 0 0 14rem;
  position: relative;
  right: 2rem;
  bottom: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.navbar.active {
  background-color: #002878;
}

.nav-links-container {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 830px) {
  .nav-links-container {
    display: none;
  }
}

.nav-links-container li {
  padding: 0 0.8rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links-container li:last-of-type {
  border-left: 2px solid #ffffff;
}

.nav-links-container li .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding: 20px 0px;
}

.nav-links-container li .nav-link:hover {
  cursor: pointer;
}

.nav-links-container li .nav-link:hover::before, .nav-links-container li .nav-link:focus::before, .nav-links-container li .nav-link:active::before {
  bottom: 10px;
  opacity: 1;
}

.nav-links-container li .nav-link:before {
  -webkit-transition: 200ms;
  transition: 200ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-links-container li .nav-link .home-icon-link {
  height: 1.2rem;
}

.hero {
  position: relative;
  max-width: 100%vw;
  height: 100vh;
  background-color: #002878;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
}

.hero-content {
  margin: 0 auto;
  top: 15rem;
  max-width: 35rem;
  position: relative;
  color: white;
}

.hero-content header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

@media screen and (max-width: 830px) {
  .hero-content header h1 {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 400px) {
  .hero-content header h1 {
    font-size: 2rem;
  }
}

.hero-content p {
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.65rem;
}

@media screen and (max-width: 830px) {
  .hero-content p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  .hero-content p {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}

.hero-content .hero-btn-container {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content .hero-btn-container .register-btn {
  padding: 0 2.5rem;
  width: 8.5rem;
  height: 3rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border-style: none;
  font-size: 1rem;
  color: #ffffff;
  background-color: #CC6C41;
}

@media screen and (max-width: 400px) {
  .hero-content .hero-btn-container .register-btn {
    margin-right: 0.5rem;
    width: 8rem;
    font-size: 0.9rem;
  }
}

.hero-content .hero-btn-container .register-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-content .hero-btn-container .play-btn {
  margin-left: 1rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background: none;
  border: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 400px) {
  .hero-content .hero-btn-container .play-btn {
    width: 3.5rem;
  }
}

.hero-content .hero-btn-container .play-btn img {
  width: 4rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.hero-content .hero-btn-container .play-btn img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
}

.player-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-section {
  width: 100vw;
  margin: 0 auto;
  padding: 0 4rem 3rem 4rem;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-section header {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-section header h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #707070;
  white-space: nowrap;
}

@media screen and (max-width: 830px) {
  .feature-section header h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 830px) {
  .feature-section header h2 {
    font-size: 1.5rem;
  }
}

.feature-section .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 830px) {
  .feature-section .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature-section .main-content article {
  margin-right: 1rem;
  min-width: 22rem;
  max-width: 30rem;
}

@media screen and (max-width: 830px) {
  .feature-section .main-content article {
    margin: 0;
    padding: 0 1rem;
    min-width: 20rem;
    max-width: 40rem;
  }
}

.feature-section .main-content article p {
  font-size: 1.1rem;
  line-height: 1.65rem;
  color: #707070;
}

@media screen and (max-width: 830px) {
  .feature-section .main-content article p {
    font-size: 0.9rem;
  }
}

.feature-section .main-content img {
  margin-left: 1rem;
  max-width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #707070;
}

@media screen and (max-width: 830px) {
  .feature-section .main-content img {
    max-width: 350px;
    max-height: 350px;
  }
}

@media screen and (max-width: 400px) {
  .feature-section .main-content img {
    width: 300px;
    height: 300px;
  }
}

.countdown-container {
  margin: -3rem auto 1rem auto;
  padding: 0 2rem;
  max-width: 40rem;
  height: 6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #707070;
  background-color: #ffffff;
}

@media screen and (max-width: 830px) {
  .countdown-container {
    margin: 0 auto;
    max-width: 95%;
    height: 10rem;
    border-style: none;
    border-bottom: 2px solid #707070;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.countdown-container .text-box {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 830px) {
  .countdown-container .text-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4rem;
  }
}

.countdown-container .text-box h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.2rem;
  color: #707070;
  white-space: nowrap;
}

.countdown-container .timer-container {
  padding: 1rem 0 1rem 2rem;
  width: 50%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #707070;
}

@media screen and (max-width: 830px) {
  .countdown-container .timer-container {
    width: 18rem;
    padding: 0 1rem;
    height: 4rem;
    border: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.countdown-container .timer-container .timer-box {
  width: 3.6rem;
  height: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border-style: none;
  background-color: #002878;
}

@media screen and (max-width: 830px) {
  .countdown-container .timer-container .timer-box {
    margin: 0 0.2rem;
  }
}

.countdown-container .timer-container .timer-box p:nth-child(1) {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.7rem;
}

.countdown-container .timer-container .timer-box p:nth-child(2) {
  margin-top: -1.2rem;
  font-size: 0.6rem;
}

.schedule-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebeb;
}

@media screen and (max-width: 830px) {
  .schedule-section {
    display: none;
  }
}

.schedule-section header {
  padding: 2rem 0;
  text-align: center;
}

.schedule-section header h2 {
  color: #707070;
}

.schedule-section a {
  margin: -2.2rem -42.5rem 0.5rem 0;
  padding: 0.1rem 0.4rem;
  border: 1px solid #707070;
  border-radius: 3px;
  background-color: #ffffff;
}

.schedule-section a .events-calendar-icon {
  width: 1.3rem;
}

.schedule-section .load-more-btn {
  margin-bottom: 2rem;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  color: #707070;
  background-color: #ffffff;
  border: 1px solid #707070;
  font-size: 1.2rem;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.schedule-section .load-more-btn:hover {
  background-color: #002878;
  color: #ffffff;
}

.event-container {
  margin: 0 auto 2.5rem auto;
  width: 45rem;
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #707070;
}

.event-container .event-image {
  width: 30%;
}

.event-container .event-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-container .event-description {
  padding: 0 2rem 0 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.event-container .event-description header {
  margin-bottom: 0.5rem;
  height: 3rem;
  text-align: left;
}

.event-container .event-description header h3 {
  font-weight: bold;
  color: #707070;
  white-space: nowrap;
}

.event-container .event-description p {
  font-size: 1.1rem;
  height: 3rem;
  text-align: left;
}

.event-container .event-details {
  padding: 1rem 0.5rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border-left: 1px solid #707070;
}

.event-container .event-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-container .event-details div .icon {
  margin: -0.5rem 0.5rem 0 0;
  width: 1.3rem;
  height: auto;
}

.event-container .event-details div h4 {
  text-align: left;
  font-size: 0.7rem;
  color: #707070;
}

.share-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.share-section header {
  padding: 2rem 0;
  text-align: center;
}

.share-section header h2 {
  color: #707070;
}

.share-section .juicer-container {
  margin: 0 auto;
  width: 80%;
}

.share-section .juicer-button {
  margin-bottom: 2rem;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  color: #707070;
  background-color: #ffffff;
  border: 1px solid #707070;
  font-size: 1.2rem;
  font-family: libre-franklin, Sans-serif;
  font-weight: normal;
  border-radius: 4px;
}

.share-section .juicer-button:hover {
  background-color: #002878;
  color: #ffffff;
}

.share-section .social-container {
  padding: 0;
  height: 3rem;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.share-section .social-container img {
  width: 1.2rem;
  height: auto;
}

.photos-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #002878;
}

.photos-section header {
  padding: 2rem 0;
  text-align: center;
}

.photos-section header h2 {
  color: #ffffff;
}

.photos-section .carousel {
  margin-bottom: 3rem;
}

.photos-section .carousel .w-100 {
  width: 20rem;
  height: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  width: 100%;
  height: 12rem;
  background-color: #363636;
}

@media screen and (max-width: 830px) {
  footer {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer div {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1500px) / 2);
}

@media screen and (max-width: 830px) {
  footer div {
    padding: 0;
    width: 20rem;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer div .footer-logo {
  margin: 1rem 1.8rem 0 2rem;
  width: 118px;
  height: 60px;
}

@media screen and (max-width: 830px) {
  footer div .footer-logo {
    margin-bottom: 1.5rem;
  }
}

footer div .footer-logo:hover {
  cursor: pointer;
}

footer div .footer-links-container {
  margin-right: 3.2rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 830px) {
  footer div .footer-links-container {
    margin: 0 0 3rem 0;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer div .footer-links-container li {
  padding: 0 0.8rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div .footer-links-container li .footer-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding: 20px 0px;
}

@media screen and (max-width: 830px) {
  footer div .footer-links-container li .footer-link {
    font-size: 1rem;
  }
}

footer div .footer-links-container li .footer-link:hover {
  cursor: pointer;
}

footer div .footer-links-container li .footer-link:hover::before, footer div .footer-links-container li .footer-link:focus::before, footer div .footer-links-container li .footer-link:active::before {
  bottom: 10px;
  opacity: 1;
}

@media screen and (max-width: 830px) {
  footer div .footer-links-container li .footer-link:hover::before, footer div .footer-links-container li .footer-link:focus::before, footer div .footer-links-container li .footer-link:active::before {
    display: none;
  }
}

footer div .footer-links-container li .footer-link:before {
  -webkit-transition: 200ms;
  transition: 200ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

@media screen and (max-width: 830px) {
  footer div .footer-links-container li .footer-link:before {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: libre-franklin, Sans-serif;
}
/*# sourceMappingURL=styles.css.map */